.bottom-buttons-wrapper {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 3em;
  padding-left: 3em;
  width: 100%;
  height: 10vh;
}

.bottom-buttons-container {
  display: flex;  
}

.bottom-buttons-title {
  font-family: Montserrat;
  letter-spacing: .1vw;
  color: white;
  font-weight: 600;
  padding-bottom: .4em;
}

.bottom-bar-coptright {
  user-select: none;
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  font-family: Hind;
  font-style: italic;
  font-weight: 300;
  font-size: .7em;
  padding-right: .7em;
  padding-bottom: .5em;
  color: white; 
}

@media screen and (max-width: 720px) {
  .bottom-buttons-wrapper {
      display: none;
  }
  
  .bottom-bar-coptright {
      display: none;
  }
}