.download-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    z-index: 3;
    border-radius: 50%;
    background-color: var(--gray);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 150ms ease;
  }

  .download-button ion-icon{
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
  }
  
  .download-button:hover {
    transform: scale(1.1);
    background-color: black;
    border: 2px solid var(--purple);
  }