.hero-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 100%;
  transition: all 0.2s ease;
}

.hero-title {
  user-select: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Montserrat;
  color: white;
  font-size: 5.5vw;
  letter-spacing: .1vw;
  font-weight: bold;
  text-shadow: black 3px 3px;
}

.hero-subtitle {
  user-select: none;
  font-family: Hind;
  font-size: 2vw;
  color: rgb(198, 198, 198);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 300;
}

.hero-subtitle-highlight {
  cursor: pointer;
  padding-left: .5em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-weight: 600;
}

.skills-modal {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skills-modal ion-icon {
  font-size: 24px;
  color: #000000;
  transition: all 0.3s ease;
}

.skills-modal ion-icon:hover {
  color: var(--purple);
  transform: scale(1.2);
}