.home-button {
    position: relative;
    width: 3.5em;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--gray);
    border: none;
    cursor: pointer;
    transition: all 150ms ease;
    margin-right: 1em;
  }

  .home-button:hover {
    transform: scale(1.1);
    background-color: black;
    border: 2px solid var(--purple);
  }

  .home-button ion-icon {
    position: relative;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
  }