/* MiddleSection.css */
.middle-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}

/* Responsive styles for screens under 720px */
@media screen and (max-width: 720px) {
  .middle-section-wrapper {
      padding-left: 0;
      justify-content: center;
  }
}

/* SideInfoDisplay.css */
.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 25vw;
}

.form-title {
  position: absolute;
  top: 0;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.3em;
  white-space: nowrap;
  text-shadow: black 1px 1px;
}

/* Hide sidebar on mobile */
@media screen and (max-width: 720px) {
  .sidebar-wrapper {
      display: none;
  }
}